* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* cores normais */
  --color-primary: #FFC857;
  --color-secondary: #4B3F72;
  --color-tertiary: #F26419;

  /* cores background */
  --color-bg: #F6F7F8;
  --color-bg-dark: #30343F;

  /* cores de texto padrão */
  --color-text-black: #000;
  --color-text-white: #FFF;
  --color-text-gray: #9B9B9B;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
}

html.dark {
  /* cores normais */
  --color-secondary: #FFF;

  /* cores background */
  --color-bg: #30343F;
}